[Desktop Entry]
Name=Teams for Linux (AIT)
Exec=teams-for-linux --closeAppOnCross=true --class=teams-ait --trayIconEnabled=false --appTitle="Teams for Linux (AIT)" --user-data-dir=/home/dwieser/.config/teams-ait
Icon=teams-for-linux
Terminal=false
Type=Application
Categories=Chat;Network;Office;
StartupWMClass=teams-ait
MimeType=x-scheme-handler/msteams;
